.form{
    background : $white;
    border-radius: 10px;
    padding: 30px;
    &__input{
        outline: none;
        border-bottom: 1px solid $white; 
        border-top: none; 
        border-right: none; 
        border-left: none;
    }
}