

$white : #ffffff;
$red : #ff0000;
$gray : #cccccc;

.color{
    &-white{
        color: $white;
    }
    &-red{
        color: $red;
    }
    &-gray{
        color: $gray;
    }
}

.border-radius-10{
    border-radius: 10px;
}
.img-size{
    width: 150px;
    height: 150px; 
    border-radius: 10px
}

.font{
    &-12{
        font-size: 12px;
    }
}

.border{
    &-r{
        border-right: red 1px solid
    }
    &-l{
        border-left: red 1px solid

    }
}-r-red

html, body{
    min-height: 1vh;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}


/* MARGIN */
@for $i from 0 through 10 {
    .mg-#{ $i * 5}{
        margin: $i * 5px;
    }
}

@for $i from 0 through 30 {
    .mg-top-#{ $i * 5}{
        margin-top: $i * 5px;
    }
}

@for $i from 0 through 10 {
    .mg-bottom-#{ $i * 5}{
        margin-bottom: $i * 5px;
    }
}

@for $i from 0 through 10 {
    .mg-right-#{ $i * 5}{
        margin-right: $i * 5px;
    }
}

@for $i from 0 through 10 {
    .mg-left-#{ $i * 5}{
        margin-left: $i * 5px;
    }
}

@for $i from 0 through 10 {
    .mg-x-#{ $i * 5}{
        margin-right: $i * 5px;
        margin-left: $i * 5px;
    }
}

@for $i from 0 through 10 {
    .mg-y-#{ $i * 5}{
        margin-top: $i * 5px;
        margin-bottom: $i * 5px;
    }
}


/*PADDING*/

@for $i from 0 through 10 {
    .pdd-#{ $i * 5}{
        margin: $i * 5px;
    }
}

@for $i from 0 through 10 {
    .pdd-top-#{ $i * 5}{
        padding-top: $i * 5px;
    }
}

@for $i from 0 through 10 {
    .pdd-bottom-#{ $i * 5}{
        padding-bottom: $i * 5px;
    }
}

@for $i from 0 through 10 {
    .pdd-right-#{ $i * 5}{
        padding-right: $i * 5px;
    }
}

@for $i from 0 through 10 {
    .pdd-left-#{ $i * 5}{
        padding-left: $i * 5px;
    }
}

@for $i from 0 through 10 {
    .pdd-x-#{ $i * 5}{
        padding-right: $i * 5px;
        padding-left: $i * 5px;
    }
}

@for $i from 0 through 10 {
    .pdd-y-#{ $i * 5}{
        padding-top: $i * 5px;
        padding-bottom: $i * 5px;
    }
}

/*POSITION*/

.p-absolute{
    position: absolute;
}

.p-relative{
    position: relative;
}

.p-fixed{
    position: fixed
}

/*TEXT*/
.text{
    &-center {
        text-align: center;
    }
    &-left {
        text-align: left;
    }
    &-right {
        text-align: right;
    }
    &-justify {
      text-align: justify;
    }    
}

/*WEIGHT*/

.u{
    &-regular{
        font-weight: 400;
    }
    &-medium{
        font-weight: 500;
    }
    &-bold{
        font-weight: bold;
    }
}

.w-100{
    width: 100%;
}

.content-center{
    display: flex;
    justify-content: center;
}