.main-layout{
    background: 
        linear-gradient(to bottom, rgba(248,80,50,1) 0%,
    rgba(246,41,12,1) 0%, 
     rgba(244,71,46,1) 28%,
      rgba(241,111,92,1) 66%,
       rgba(231,56,39,1) 100%); height: 100vh;
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    &__title{
        font-size: 30px;
        font-family: 'Times New Roman', Times, serif;
        color: white;
        margin: 30px;
    }
    &__buttom{
        background-color: blue; 
        padding: 10px; 
        border-radius: 10px;
        margin: 10px; 
        color: white;
        text-decoration: none;
    }
}