<div class="main-layout  ">
    <h1 class="main-layout__title">Suricatum</h1>
    <div class="mg-50">
        <router-outlet></router-outlet>
    </div>
    <div>
        <a class="main-layout__buttom" [routerLink]="['/login']">Iniciar sesión</a>
        <a class="main-layout__buttom" [routerLink]="['/register']">Registrarse</a>
    </div>
</div>