<div class="container">
  <div class="row">
    <div class="col text-center " >
      <div *ngFor="let heroe of leftLayoutHerores; let i = index ">
        <button type="button"  class="border-radius-10 pdd-10" (click)="setHeroeModal(heroe)"
          class="btn btn-primary mg-10" data-toggle="modal" data-target="#exampleModal">
          <img class="img-size" src="{{ heroe.picture}}">
        </button>
        <div *ngIf="heroeModal" class="modal fade" id="exampleModal" tabindex="-1" role="dialog"
          aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">{{heroeModal.name}}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <div class="col-lg-12 text-center">
                  <img class="img-size" src="{{ heroeModal.picture}}"><br>
                  <span class="color-gray">{{heroeModal.publisher}}</span><br>
                  <p>{{heroeModal.info}}</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>