<div class="alert alert-danger" *ngIf="status == true" role="alert">
  El usuario no se encuentra registrado
</div>
<div class="form ">
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <div class="content-center color-red">
      <h1>Iniciar sesión</h1>
    </div>
    <div class="col-lg-12 mg-20 ">
      <input type="text" class="form__input" placeholder="Usuario" formControlName="user">
    </div>
    <div class="col-lg-12 mg-20 ">
      <input type="password" class="form__input" placeholder="Contraseña" formControlName="password">
    </div>
    <div class="col-lg-12 mg-top-20 content-center">
      <button [routerLink]="['/private']" type="submit" class="btn btn-danger">
        Aceptar
      </button>
    </div>
  </form>
</div>