<div class="container ">
  <h1>Heroes</h1>
  <div class="row">
    <div class="col">
      <div class="form-group">
        <input type="text" class="form-control" name="filterPost" placeholder="Search..." [(ngModel)]="filterPost">
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Picture</th>
            <th>info</th>
          </tr>
        </thead>
        <tbody>
          <tr
            *ngFor="let heroe of searcHeroes | filter:filterPost | paginate: { itemsPerPage: 2, currentPage: pagina }">
            <td class="content-center"><img class="img-size" src="{{ heroe.picture}}"> </td>
            <td>
              <div class="col-lg-12">
                <h1 class="color-red">{{heroe.name}}</h1>
                <p>{{heroe.info}}</p>
                <span class="font-12 color-gray">{{heroe.publisher}}</span>
                <button type="button" (click)="saveHeroe(heroe)" class="btn btn-danger d-block">Save</button>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
      <div class="content-center mg-top-50" >
        <pagination-controls *ngIf="searcHeroes" (pageChange)="pagina = $event"></pagination-controls>
      </div>
    </div>
  </div>
</div>