<div class="container-fluid">
  <div class="row">
    <div class="col-lg-3 border-r">
      <app-left-layout-heroes></app-left-layout-heroes>
    </div>
    <div class="col-lg-9 border-l">
      <div>
        <nav class="nav p-relative text-center pdd-30">
          <ul class="p-absolute nav__ul" >
            <li [routerLink]="['/private/saved-heroes']"
              class="nav__li">Heroes<br>guardados</li>
            <li [routerLink]="['/private/search-heroes']"
            class="nav__li">Buscar<br>heroes</li>
          </ul>
        </nav>
      </div>
      <div class="mg-top-85">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>

</div>