<div class="alert alert-success" *ngIf="status == true" role="alert">
  Usuario registrado correctamente
</div>
<div class="form">
  <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
    <div class="content-center color-red">
      <h1>Registrarse</h1>
    </div>
    <div class="col-lg-12 mg-20 ">
      <input type="text" class="form__input" placeholder="Usuario" formControlName="user">
    </div>
    <div class="col-lg-12 mg-20 ">
      <input type="password" class="form__input" placeholder="Contraseña" formControlName="password">
    </div>
    <div class="col-lg-12 mg-top-20 content-center ">
      <button type="submit" class="btn btn-danger">
        Aceptar
      </button>
    </div>
  </form>
</div>