<div class="container ">
  <h1>Heroes</h1>
  <div class="row">
    <div class="col">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Picture</th>
            <th>info</th>
            <th>Add</th>
            <th>delete</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let heroe of heroes | paginate: { itemsPerPage: 2, currentPage: pagina }">
            <td class="content-center"><img class="img-size" src="{{ heroe.picture}}"> </td>
            <td>
              <div class="col-lg-12">
                <h1 class="color-red">{{heroe.name}}</h1>
                <p>{{heroe.info}}</p>
                <span class="font-12 color-gray">{{heroe.publisher}}</span>
              </div>
            </td>
            <td class="text-center"><button (click)="addHeroe(heroe)"><i class="fa fa-plus"></i></button></td>
            <td class="text-center"><button (click)="deleteHeroe(heroe)"><i class="fa fa-minus"></i></button></td>
          </tr>
        </tbody>
      </table>
      <div *ngIf="status == true" class="alert alert-success" role="alert">
        This is a success alert—check it out!
      </div>
      <div class="mg-top-50 content-center">
        <pagination-controls *ngIf="heroes" (pageChange)="pagina = $event"></pagination-controls>
      </div>
    </div>
  </div>
</div>